 *.docx     #не обрабатывать файлы, имя которых кончается на .docx
!123.docx # но отслеживать файл 123.docx
123/     #игнорировать все файлы в каталоге 123/
*.txt       #не обрабатывать файлы, имя которых кончается на .txt
